.title-slider {
  font-size: 85px;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  line-height: 85px;
  margin-top: 0.5rem;
}

.ticker {
  flex-wrap: nowrap;
  height: 100px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.textBoxes {
  position: relative;
}

.textBox {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.word-wrapper {
  margin: 0 auto;
}
