.hero {
  width: 100%;
  max-width: var(--max-elements-width);
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* gap: 5rem; */
  text-align: center;
  height: 100%;
  min-height: calc(100vh - var(--nav-height));
}

.hero-intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: calc(75vh - var(--nav-height) - 100px);
  justify-content: center;
  position: relative;
}

.location {
  color: var(--light-gray);

  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;

  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
}

.hero-heading {
  font-size: 85px;
  line-height: 85px;
}

.hero-para {
  font-size: 1.2em;
  max-width: 82ch;
}

.hero-btns {
  display: flex;
  gap: 0.9em;
}

.hero-bg {
  position: absolute;
  width: 584px;
  aspect-ratio: 1;
  background: radial-gradient(
      74.85% 74.85% at 50.11% 50.11%,
      rgba(236, 242, 248, 0.12) 0%,
      rgba(236, 242, 248, 0) 82.5%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(84.25px);
}
