.hero {
  width: 100%;
  max-width: var(--max-elements-width);
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: calc(100vh - var(--nav-height));
  min-height: 100%;
  font-size: 1rem;
  max-height: 1000px;
}

.hero-intro {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  height: calc(75vh - var(--nav-height) - 100px);
  justify-content: center;
  position: relative;

  max-height: 1000px;
}

.location {
  color: var(--light-gray);

  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;

  font-weight: 500;
  font-size: 1.2em;
  line-height: 31px;
}

.hero-heading {
  font-size: 5.3em;
  line-height: 85px;
}

.hero-para {
  font-size: 1.2em;
  max-width: 82ch;
}

.hero-btns {
  display: flex;
  gap: 0.9em;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-bg {
  position: absolute;
  width: 584px;
  aspect-ratio: 1;
  background: radial-gradient(
      74.85% 74.85% at 50.11% 50.11%,
      rgba(236, 242, 248, 0.12) 0%,
      rgba(236, 242, 248, 0) 82.5%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(84.25px);
}

@media screen and (max-width: 1650px) {
  .hero {
    font-size: 0.8rem;
  }
  .hero-heading {
    line-height: 65px;
  }
}

@media screen and (max-width: 1500px) {
  .hero {
    font-size: 0.7rem;
  }

  .hero-heading {
    line-height: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    font-size: 0.6rem;
    min-height: 450px;
  }
  .hero-intro {
    min-height: 350px;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 650px) {
  .hero-bg {
    width: 90vw;
  }
}

@media screen and (max-width: 380px) {
  .hero-heading {
    font-size: 4.7em;
    line-height: 40px;
  }
}
