header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 0; */
  border-bottom: 1px solid #262626;
  height: 100%;
}

header > nav {
  width: 100%;
  height: var(--nav-height);
  max-width: var(--max-elements-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 500;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  padding: 0px 3px;
}

.nav-links a::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0px;
  background-color: var(--light-white);
  transition: 0.25s;
}

.nav-links a:hover {
  opacity: 0.7;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-actions {
  display: flex;
  gap: 1rem;
}

.nav-click {
  text-decoration: none;
  /* padding: 0.5rem 1rem; */
  font-weight: 500;
  height: 38px;
  width: 46px;
  font-size: 1.2rem;
  transition: 0.25s;
  cursor: pointer;
  position: relative;
  border: none;
  outline: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  color: var(--white);
  border-radius: 3px;
}

@media screen and (max-width: 1500px) {
  header nav .secondary-btn {
    font-size: 0.9rem;
  }
}
